# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
back
dist-ssr
*.local
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dev/*
modmed/*

# Environment variables
.env
.env.local
.env.*.local

# Ignore all files in the .env directory
.env/*

.vscode
.vs
.expo

# Ignore all files in the .env.local directory
.env.local/*
